<h1 align="center">Про нас</h1>
        <section class="about-us-page">
           <div class="about-project">
                <div class="about-project-header">
                        <img src="/images/about-us.jpg" alt="">
                        <h2>Про проект</h2>
                </div>
                <div class="about-project-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea obcaecati praesentium, eos soluta accusamus magni corrupti! Illum dolorem et earum ducimus laudantium iste possimus nam quibusdam, dignissimos a perferendis provident!
                </div>
           </div>
           <div class="goals-and-audience">
                <div class="goals-and-audience-header">
                        <img src="/images/audience.jpg" alt="">

                        <h2>Цілі та аудиторія</h2>
                </div>
                <div class="goals-and-audience-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea obcaecati praesentium, eos soluta accusamus magni corrupti! Illum dolorem et earum ducimus laudantium iste possimus nam quibusdam, dignissimos a perferendis provident!
                </div>
           </div>
           <div class="team">
                <div class="team-header">
                        <img src="/images/team.jpg" alt="">
                        <h2>Команда</h2>
                </div>
                <div class="team-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea obcaecati praesentium, eos soluta accusamus magni corrupti! Illum dolorem et earum ducimus laudantium iste possimus nam quibusdam, dignissimos a perferendis provident!
                </div>
           </div>
           <div class="contact-us">
                   <img src="/images/glenn-carstens-peters-112923.jpg" alt="">
                   <h2>Виникли питання?</h2>
                   <button class="btn btn-default btn-contact" href="/contacts" formtarget="_blank" onclick="parent.location='/contacts'">Надішліть нам листа!</button>
           </div>
        </section>
