<section>


  <div class="row about-us-homepage">
    <div class="col-sm-6 col-xs-12 about-us-img">
    </div>
    <div class="col-sm-6 col-xs-12 about-us-content">
      <h4>Про нас</h4>
      <hr class="blog-hr">
      <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis veritatis, fuga at hic veniam, dignissimos optio nemo possimus rem expedita ratione rerum? Explicabo, iusto beatae veritatis cupiditate modi labore eligendi.</p>
      <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis veritatis, fuga at hic veniam, dignissimos optio nemo possimus rem expedita ratione rerum? Explicabo, iusto beatae veritatis cupiditate modi labore eligendi.</p>
    </div>
  </div>
  <h2 align="center">Останні новини</h2>

  <div class="row article-row">
    <a href="kaska.ri" class="article col-sm-4 col-xs-12">
      <div class="img">
      <img src="img/matt-palmer-254999.jpg" alt="" class='thumb img-responsive'></div>
      <div class="title">
        <h5>Новина</h5>
        <hr class="blog-hr">
        <h3 class="">Діалекти то супер</h3>
      </div>
    </a>
    <a href="kaska.ri" class="article col-sm-4 col-xs-12">
      <div class="img">
      <img src="img/matt-palmer-254999.jpg" alt="" class='thumb img-responsive'>
    </div>
      <div class="title">
        <h5>Новина</h5>
        <hr class="blog-hr">
        <h3 class="">Діалекти то суперкльовонайс</h3>
      </div>
    </a>
    <a href="kaska.ri" class="article col-sm-4 col-xs-12">
      <div class="img">
        <img src="img/geran-de-klerk-136351.jpg" alt="" class='thumb img-responsive'>
      </div>
      <div class="title">
        <h5>Новина</h5>
        <hr class="blog-hr">
        <h3 class="">Довга і нестандартна назва, в якій опишуть всю статтю окремо</h3>
      </div>
    </a>
  </div>

  <h2 align="center">Останні записи</h2>

  <div class="row article-row">
    <div class="article col-sm-4 col-xs-12">
      <div class="img">
      <img src="img/matt-palmer-254999.jpg" alt="" class='thumb img-responsive'></div>
      <div class="title">
        <h5>Запис</h5>
        <hr class="blog-hr">
        <h3 class="">Діалекти то супер</h3>
      </div>			</div>
    <div class="article col-sm-4 col-xs-12">
      <div class="img">
      <img src="img/matt-palmer-254999.jpg" alt="" class='thumb img-responsive'>
    </div>
      <div class="title">
        <h5>Запис</h5>
        <hr class="blog-hr">
        <h3 class="">Діалекти то суперкльовонайс</h3>
      </div>
    </div>
    <div class="article col-sm-4 col-xs-12">
      <div class="img">
        <img src="img/geran-de-klerk-136351.jpg" alt="" class='thumb img-responsive'>
      </div>
      <div class="title">
        <h5>Запис</h5>
        <hr class="blog-hr">
        <h3 class="">Довга і нестандартна назва, в якій опишуть всю статтю окремо</h3>
      </div>
  </div>
  </div>


</section>
