  <div id="Search", class="center row">
    <%= form_for :pages, url: map_path, html: { class: 'form-inline' } do |f| %>
      <%= f.text_field :word, class: 'form-control', placeholder: 'Введіть слово', size: 40 %>
      <%= f.submit 'Знайти', class: 'btn btn-default' %>
    <% end %>
  </div>
  <div class = "center">
    <p></p>
    <button type="submit" class="btn add-word-btn btn-default" value="">Додати слово</button>
    <p></p>
  </div>

  <div id="map" >

  </div>
