development:
  secret_key_base: 56169fb12287dc05bd83ea05cffe8d86173fb7cac21df82555f95d8fc72a3c9fb1ba176fcd8b48ff85ae64400f2dc42e47e9d8c6f32ecc4d77242189ae5e47ec

test:
  secret_key_base: ea8caf2e9c9e468060dd84caec6c046c5c1a51adc8e0113893b792ec5d0f93d2a1d84d4b15188c5661079243776de04a77b74ed05ab56a735174362393c1dded

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
