<div class='dropdown-selectors'>
    <select id="region" onchange="selectRegion(this.value)">
      <option>Виберіть область</option>
      <option value="Одеська">Одеська область</option>
      <option value="Дніпропетровська">Дніпропетровська область</option>
      <option value="Чернігівська">Чернігівська область</option>
      <option value="Харківська">Харківська область</option>
      <option value="Житомирська">Житомирська область</option>
      <option value="Полтавська">Полтавська область</option>
      <option value="Херсонська">Херсонська область</option>
      <option value="Київська">Київська область</option>
      <option value="Запорізька">Запорізька область</option>
      <option value="Луганська">Луганська область</option>
      <option value="Донецька">Донецька область</option>
      <option value="Вінницька">Вінницька область</option>
      <option value="Крим">Автономна Республіка Крим</option>
      <option value="Миколаївська">Миколаївська область</option>
      <option value="Кіровоградська">Кіровоградська область</option>
      <option value="Сумська">Сумська область</option>
      <option value="Львівська">Львівська область</option>
      <option value="Черкаська">Черкаська область</option>
      <option value="Хмельницька">Хмельницька область</option>
      <option value="Волинська">Волинська область</option>
      <option value="Рівненська">Рівненська область</option>
      <option value="Івано-Франківська">Івано-Франківська область</option>
      <option value="Тернопільська">Тернопільська область</option>
      <option value="Закарпатська">Закарпатська область</option>
      <option value="Чернівецька">Чернівецька область</option>
    </select>


    <select id="district" onchange="selectDistrict(this.value)">
      <option >Виберіть район </option>
    </select>


    <select id="city">
      <option>Виберіть населенний пункт</option>
    </select>


</div>

<br/>
<br/>

<form name="test" method="post" onsubmit="addWord(off.value,dial.value); return false;" >
<input type="text" name="off" class="ntSaveForms" placeholder="Слово" size="40">
<input type="text" name="dial" class="ntSaveForms" placeholder="Діалект" size="40">
<input type="text" name="transcription" id="transcription" class="ntSaveForms" placeholder="[ Транскрипція до діалектизму ]" size="40">
<button type="button" id="open-transcription" value="Допоміжні символи">Допоміжні символи</button>
<button type="submit" value="Отправить">Додати</a></button>
<%= render "words/transcription_panel" %>
</form>
