<div id="transcription-panel" draggable="true">
<div class="close">X</div>
<table id="symbols">
  <tr>
    <th colspan="33">Панель транскрипцій</th>
  </tr>
  <tr>
    <td>[</td>
    <td>]</td>
    <td>'</td>
    <td> ́</td>
    <td>˄</td>
    <td>:</td>
    <td>ў</td>
    <td>ĭ</td>
    <td>еᴻ</td>
    <td>иᵉ</td>
    <td>оʸ</td>
    <td>д͡ж</td>
    <td>д͡з</td>
  </tr>
</table>
<div id="additional-symbols">
  <table id='alphabet'>
    <tr>
      <th colspan="33">Алфавіт</th>
    </tr>
    <tr>
      <td>а</td>
      <td>б</td>
      <td>в</td>
      <td>г</td>
      <td>ґ</td>
      <td>д</td>
      <td>е</td>
      <td>є</td>
      <td>ж</td>
      <td>з</td>
      <td>и</td>
      <td>і</td>
      <td>й</td>
      <td>к</td>
      <td>л</td>
      <td>м</td>
      <td>н</td>
      <td>о</td>
      <td>п</td>
      <td>р</td>
      <td>с</td>
      <td>т</td>
      <td>у</td>
      <td>ф</td>
      <td>х</td>
      <td>ц</td>
      <td>ч</td>
      <td>ш</td>
    </tr>
  </table>

  <table id='emphasis' style='display:none;'>
    <tr>
      <th colspan="10">Наголоси</th>
    </tr>
    <tr>
      <td>á</td>
      <td>é</td>
      <td>í</td>
      <td>ó</td>
      <td>ý</td>
      <td>и́</td>
    </tr>
  </table>

  <table id='roof' style='display:none;'>
    <tr>
      <th colspan="10">Дашки</th>
    </tr>
    <tr>
      <td>â</td>
      <td>ê</td>
      <td>î</td>
      <td>ô</td>
      <td>ŷ</td>
      <td></td>
    </tr>
  </table>
</div>
<p><em>Панель можна перетягувати по робочій області, просто зажміть мишою :)</em></p>
</div>