.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}

.marker-cluster-A {
    background-color: rgb(181, 226, 140);
}
.marker-cluster-A div {
    background-color: rgb(110, 204, 57);
}


.marker-cluster-B {
    background-color: rgb(241, 211, 87);
}
.marker-cluster-B div {
    background-color: rgb(240, 194, 12);
}



.marker-cluster-C {
    background-color: rgb(253, 156, 115);
}
.marker-cluster-C div {
    background-color: rgb(241, 128, 23);
}


.marker-cluster-D {
    background-color: rgb(154, 181, 253);
}
.marker-cluster-D div {
    background-color: rgb(110, 125, 241);
}

.marker-cluster-E {
    background-color: rgb(253, 19, 234);
}
.marker-cluster-E div {
    background-color: rgb(212, 18, 194);
}