<ul class="nav nav-pills nav-justified main-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">Головна</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mylink" href="/about-us">Про нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mylink" href="/map">Карта</a>
      </li>
        <li class="nav-item myitem">
          <a class="nav-link" href="/news">Новини</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles">Статті</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts">Контакти</a>
        </li>
        <% if !user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="/login">Вхід</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registration">Реєстрація</a>
      </li>
      <% else %>
      <li class="nav-item">
          <a class="nav-link" href="/registration">Профіль</a>
      </li>
      <% end %>
  </ul>
